{{#navbar}}
<div class="container fixed-top app-navbar">
<nav class="navbar navbar-light navbar-padded navbar-expand-md">
  <a class="navbar-brand mr-auto" href="index.html">
    <span class = "cynkra-logo-font">
    cynkra<span class="cynkra-logo">&#9632; <span>

    <span class = "cynkra-pkg-font"> {{#package}}{{name}}{{/package}} <span>
    <small style="color: rgb(45, 50, 56)">{{#package}}{{version}}{{/package}}</small>

  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-target="#stage"
    data-toggle="stage"
    data-distance="-250">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="d-none d-md-block text-uppercase ">
    <ul class="navbar-nav shadow">
        {{{left}}}
        {{{right}}}
      <li class="nav-item px-1 ">
        <a class="nav-link" href="projects.html">Projects</a>
      </li>
      <li class="nav-item px-1 ">
        <a class="nav-link" href="consulting.html">Consulting</a>
      </li>
    </ul>
  </div>
</nav>
</div>
{{/navbar}}
