// NOTE: 'new' frutiger normal=400
@font-face {
    font-family: "frutiger";
    src: url("https://cynkra.com/assets/css/fonts/6135829/b05d44ef-6a78-4aa4-9388-3f0e05252a48.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

// NOTE: 'new' frutiger light=300
@font-face {
  font-family: "frutiger";
  src: url("https://cynkra.com/assets/css/fonts/1449009/b3ca2df2-7bee-4fc0-84cb-b029b99c3b61.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

// NOTE: 'new' frutiger bold=700
@font-face {
  font-family: "frutiger";
  src: url("https://cynkra.com/assets/css/fonts/1449025/c31af250-c28e-40ef-bed6-866e7ed6fedf.woff2") format("woff2");
  font-weight: bold; // same as 700
  font-style: normal;
}

/* navbar */
.navbar {
  box-shadow: rgba(19, 16, 34, 0.06) 0px 4.4px 12px -1px, rgba(19, 16, 34, 0.03) 0px 2px 6.4px -1px;
  background-color: white !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #3134ED;
  background-color: #f2f2f2;
}

/* copy-paste button ---------------------------------------------------------*/
.btn.btn-primary.btn-copy-ex {
	color: white;
}

/* cynkra logo classes  ----------------------------------------------------- */

#cynkra-logo-footer {
  height: 20px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#cynkra-logo-nav {
  height: 25px;
  padding-right: 20px;
  padding-bottom: 2px;
}

/* Navbar */
li.active a.nav-link {
  color: #005f7e !important;
}
