// TODO: update the font paths after going live with the new website
// NOTE: 'new' frutiger normal=400
@font-face {
    font-family: "frutiger";
    src: url("https://cynkra.com/assets/css/fonts/6135829/b05d44ef-6a78-4aa4-9388-3f0e05252a48.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

// NOTE: 'new' frutiger light=300
@font-face {
  font-family: "frutiger";
  src: url("https://cynkra.com/assets/css/fonts/1449009/b3ca2df2-7bee-4fc0-84cb-b029b99c3b61.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

// NOTE: 'new' frutiger bold=700
@font-face {
  font-family: "frutiger";
  src: url("https://cynkra.com/assets/css/fonts/1449025/c31af250-c28e-40ef-bed6-866e7ed6fedf.woff2") format("woff2");
  font-weight: bold; // same as 700
  font-style: normal;
}

body {
  // NOTE: offset the navbar height
  padding-top: 140px;

  @media (min-width: 768px) {
    padding-top: 180px;
  }
}

.navbar {
  --bs-navbar-padding-y: 20px;

  box-shadow: rgba(19, 16, 34, 0.06) 0px 4.4px 12px -1px, rgba(19, 16, 34, 0.03) 0px 2px 6.4px -1px;
  background-color: white !important;

  .container {
    align-items: flex-end;
  }
}

.navbar-nav .nav-item > .nav-link {
  border-radius: 0;
}

.navbar-nav .nav-item > .nav-link,
.h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #3134ED;
  background-color: #f2f2f2;
}

.navbar-brand {
  --bs-navbar-brand-padding-y: 8px;

  + small {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.dropdown-menu {
  --bs-dropdown-border-radius: 0;
}

/* copy-paste button ---------------------------------------------------------*/
.btn.btn-primary.btn-copy-ex {
	color: white;
}

#cynkra-logo-footer {
  height: 20px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.logo-cynkra {
  margin-right: 20px;
}

.logo-cynkra,
.logo-cynkra svg {
  width: 100px;
  height: 100px;

  @media (min-width: 768px) {
    width: 140px;
    height: 140px;
  }
}

li.active a.nav-link {
  color: #005f7e !important;
}