@font-face {
  font-family: "frutiger-light";
  src: url("https://cynkraweb.s3.eu-central-1.amazonaws.com/fonts/1449009/e5acedaa-f4c6-4128-8b5a-2f3f8324f09b.eot"); /* IE9 Compat Modes */
  src: local("Frutiger Light"), local("frutiger-light"),
  url("https://cynkraweb.s3.eu-central-1.amazonaws.com/fonts/1449009/e5acedaa-f4c6-4128-8b5a-2f3f8324f09b.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://cynkraweb.s3.eu-central-1.amazonaws.com/fonts/1449009/b3ca2df2-7bee-4fc0-84cb-b029b99c3b61.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://cynkraweb.s3.eu-central-1.amazonaws.com/fonts/1449009/554d0bc9-df00-45eb-993e-f62841c80ab1.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://cynkraweb.s3.eu-central-1.amazonaws.com/fonts/1449009/3512931d-90c5-4aa4-b0dc-3a3630c65f37.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://cynkraweb.s3.eu-central-1.amazonaws.com/fonts/1449009/f8b7e418-9dc4-4040-ac46-c50501eac7b5.svg#f8b7e418-9dc4-4040-ac46-c50501eac7b5")
      format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/* navbar */
.navbar {
  box-shadow: rgba(19, 16, 34, 0.06) 0px 4.4px 12px -1px, rgba(19, 16, 34, 0.03) 0px 2px 6.4px -1px;
  background-color: white !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #3134ED;
  background-color: #f2f2f2;
}

/* cynkra logo classes  ----------------------------------------------------- */

.cynkra-logo {
  font-size: 85% !important;
  color: #1f65b7 !important;
  padding-left: 1.5px !important;
  line-height: 20px;
}

a.cynkra-logo, a.cynkra-logo-font {
  text-decoration: none;
}

.cynkra-logo-font {
  font-weight: 800;
  letter-spacing: 1.76px;
  color: rgb(45, 50, 56);
}

footer .cynkra-logo-font {
  font-size: .9em;
}

nav .cynkra-logo-font {
  font-size: .1.3em;
}

nav .cynkra-logo {
  padding-right: 5px;
}

